.example-section {
  background: $basic-grey-3;
  padding-bottom: 40px;
}

.example__title {
  margin-bottom: 40px;
}

.example__text {
  font-family: $descr-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
}

.example__spending {
  margin-bottom: 40px;
}

.example__text-price {
  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.example__slider {
  position: relative;
  text-align: center;
}

.example__range {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__block-range {
  margin: 0 13px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.example__button {
  background: transparent;
  border: 0;
  padding: 8px 6px;

  font-family: $main-font;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;

  color: $black;
}

@media (min-width: 768px) {
  .example-section {
    background: none;
    padding-bottom: 0;
  }

  .example__text {
    font-family: $descr-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $special-dark-grey;
  }

  .example__slider {
    padding-bottom: 58px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -30px;
      bottom: 0;
      z-index: -1;
      width: calc(100% + 50px);
      height: 420px;
      background: $basic-grey-3;
    }
  }

  .example__block-range {
    width: 100%;
  }
}
