.first-screen-section {
  margin-bottom: 19px;
}

.first-screen__title-main-screen {
  letter-spacing: 3px;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: $white;
}

.first-screen__title {
  margin-top: 30px;
  margin-bottom: 25px;
}

.first-screen__text {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  margin-bottom: 29px;
}

.first-screen__image {
  display: flex;
  justify-content: center;
}

.first-screen__link {
  box-sizing: border-box;
  display: inline-block;
  background: $basic-green;
  width: 100%;
  padding: 7px 0;
  color: $white;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  font-family: $main-font;
  font-weight: 400;
  margin-top: 1px;
}

@media (min-width: 768px) {
  .first-screen-section {
    width: 709px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .first-screen {
    padding-left: 88px;
    position: relative;
    min-height: 770px;
  }

  .first-screen__title {
    margin-top: 0;
    margin-bottom: 41px;
  }

  .first-screen__title-main-screen {
    margin-top: 50px;
    letter-spacing: 0;
    width: 414px;
    line-height: 60px;
    font-size: 60px;
    color: $black;
    text-align: justify;
  }

  .first-screen__text {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;
    text-align: justify;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 50px;
  }

  .first-screen__image {
    position: absolute;
    top: 201px;
    left: -2px;
    z-index: -1;
  }

  .first-screen__link {
    display: inline-block;
    background: $basic-green;
    width: 244px;
    padding: 13px 19px;
    color: $white;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $main-font;

    &:hover {
      background: $basic-green-2;
    }

    &:active {
      background: $basic-green-2;
      color: #ffffff4d;
    }
  }
}

@media (min-width: 1440px) {
  .first-screen-section {
    width: 1244px;
    margin: 0 auto;
    margin-bottom: 265px;
    padding-right: 0;
  }

  .first-screen {
    position: relative;
    padding-left: 51px;
    min-height: auto;
  }

  .first-screen__title {
    padding-top: 48px;
    margin-bottom: 42px;
  }

  .first-screen__text {
    margin-bottom: 52px;
  }

  .first-screen__image {
    position: absolute;
    top: 15px;
    left: 420px;
    z-index: -1;
  }
}
