.first-screen-section {
  margin-bottom: 19px;
}

@media (min-width: 768px) {
  .first-screen-section {
    width: 709px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (min-width: 1440px) {
  .first-screen-section {
    width: 1244px;
    margin: 0 auto;
    margin-bottom: 265px;
    padding-right: 0;
  }
}
