.first-screen-section {
  margin-bottom: 20px;
}

.title--main-screen {
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: $white;
}

.first-screen__title {
  margin-top: 27px;
  margin-bottom: 25px;
}

.first-screen__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  margin-bottom: 29px;
}

.first-screen__image {
  display: flex;
  justify-content: center;
}

.first-screen__link {
  box-sizing: border-box;
  display: inline-block;
  background: $basic-green;
  width: 100%;
  padding: 7px 0;
  color: $white;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-family: $header-link;
}

@media (min-width: 768px) {
  .first-screen-section {
    width: 709px;
    margin: 0 auto;
  }

  .first-screen {
    padding-left: 89px;
    position: relative;
    min-height: 770px;
  }

  .first-screen__title {
    margin-top: 0;
    margin-bottom: 41px;
  }

  .title--main-screen {
    width: 414px;
    line-height: 60px;
    font-size: 60px;
    color: $black;
    text-align: justify;
  }

  .first-screen__text {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;
    text-align: justify;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 29px;
  }

  .first-screen__image {
    position: absolute;
    top: 190px;
    left: 100px;
    z-index: -1;
  }

  .first-screen__link {
    display: inline-block;
    background: $basic-green;
    width: 244px;
    padding: 14px 16px;
    color: $white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    font-family: $header-link;
  }
}

@media (min-width: 1440px) {
  .first-screen-section {
    width: 1244px;
    margin: 0 auto;
    margin-bottom: 230px;
    padding-right: 0;
  }

  .first-screen {
    position: relative;
    padding-left: 20px;
  }

  .first-screen__title {
    padding-top: 170px;
  }

  .first-screen__text {
    margin-bottom: 52px;
  }

  .first-screen__image {
    position: absolute;
    top: 120px;
    left: 450px;
    z-index: -1;
  }
}
