.address__block {
  background: $gray;
}

.address__content {
  padding-top: 24px;
  padding-bottom: 27px;
  display: flex;
  justify-content: space-between;
}

.address__invitation {
  max-width: 130px;
  margin: 0;
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.address__invitation--invitations {
  margin: 0;
}

.address__address-element {
  padding: 0;
  text-align: left;
  max-width: 145px;
  font-family: $descr-font;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
}

.address__text {
  padding: 0;
  margin: 0;
}

.map__iframe {
  iframe {
    border: 0;
    width: 100%;
    height: 362px;
  }
}

@media (min-width: 768px) {
  .address__content {
    align-items: center;
    padding-top: 49px;
    padding-left: 39px;
    padding-right: 50px;
    padding-bottom: 60px;
  }

  .address__invitation {
    max-width: 210px;
    font-family: $main-font;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: $black-2;
  }

  .address__address-element {
    text-align: right;
    max-width: 145px;
    font-family: $descr-font;
    font-size: 16px;
    line-height: 20px;
    color: $special_dark-grey;
  }

  .map__iframe {
    iframe {
      border: 0;
      width: 100%;
      height: 400px;
    }
  }
}

@media (min-width: 1440px) {
  .map {
    position: relative;
  }

  .address__block {
    padding: 0;
  }

  .address__content {
    box-sizing: border-box;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    width: 578px;
    padding: 100px 90px;
    height: 198px;
    display: flex;
    justify-content: space-between;
    background: $white;
  }

  .address__invitation {
    line-height: 26px;
  }

  .address__address-element {
    text-align: left;
  }

  .address__text {
    margin: 0;
  }

  .map__iframe {
    iframe {
      border: 0;
      width: 100%;
      height: 400px;
      z-index: -1;
    }
  }
}
