.now-work {
  margin-bottom: 53px;
}

.now-work__title {
  margin-bottom: 34px;
}

.now-work__text--title {
  margin-top: 0;
}

@media (min-width: 768px) {
  .now-work {
    margin-bottom: 41px;
  }

  .now-work__title {
    margin-bottom: 53px;
  }

  .now-work__text--title {
    margin: 0;
    padding-left: 10px;
  }
}


@media (min-width: 1440px) {
  .now-work {
    margin-bottom: 32px;
  }

  .now-work__text--title {
    margin-left: 3px;
    padding-left: 10px;
  }
}
