.now-work {
  margin-bottom: 53px;
}

.example__descr {
  margin-bottom: 11px;
}

.now-work__title {
  margin-bottom: 30px;
}

.title--work {
  margin-top: 0;
}

@media (min-width: 768px) {
  .now-work {
    margin-bottom: 41px;
  }

  .example__descr {
    padding-left: 10px;
    margin-bottom: 52px;
  }

  .now-work__title {
    margin-bottom: 53px;
  }

  .title--work {
    margin: 0;
    padding-left: 10px;
  }
}


@media (min-width: 1440px) {
  .now-work {
    margin-bottom: 32px;
  }
}
