@media (min-width: 768px) {
  .products {
    width: 708px;
    margin: 0 auto;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1440px) {
  .products {
    width: 100%;
    display: grid;
    grid-column-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 35px;
  }
}
