@import "./var.scss";
@import "./font.scss";

//global file
@import "./global/header.scss";
@import "./global/container.scss";
@import "./global/title.scss";

//component
@import "./component/first-screen-section.scss";
@import "./component/first-screen.scss";
@import "./component/nowwork.scss";
@import "./component/example-section.scss";
@import "./component/example.scss";
@import "./component/map.scss";
@import "./component/footer.scss";
@import "./component/form-section.scss";
@import "./component/form.scss";
@import "./component/shop.scss";
@import "./component/weight-loss.scss";
@import "./component/products.scss";

//block
@import "./component/block/menu.scss";
@import "./component/block/weight-loss.scss";
@import "./component/block/column.scss";
@import "./component/block/work.scss";
@import "./component/block/result-block.scss";
@import "./component/block/result.scss";
@import "./component/block/social.scss";
@import "./component/block/html-academy.scss";
@import "./component/block/product.scss";
@import "./component/block/add-product.scss";
@import "./component/block/present-case.scss";
@import "./component/block/humburger.scss";
@import "./component/block/additional-goods.scss";
@import "./component/block/add-product-content.scss";
@import "./component/block/product-btn.scss";
@import "./component/block/address.scss";

.page-body {
  padding: 0;
  margin: 0;
  min-width: 320px;
}

ul {
  padding: 0;
}

.hidden-text {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}
// *,
// *::before,
// *::after {
//   outline: 1px solid #ff0000;
// }
