// Начните писать стили здесь
@import "./var.scss";
@import "./font.scss";

//global file
@import "./global/header.scss";
@import "./global/container.scss";
@import "./global/title.scss";

//component
@import "./component/firstscreen.scss";
@import "./component/nowwork.scss";
@import "./component/example.scss";
@import "./component/map.scss";
@import "./component/footer.scss";
@import "./component/form.scss";
@import "./component/shop.scss";
@import "./component/weight-loss.scss";

//block
@import "./component/block/menu.scss";
@import "./component/block/column.scss";
@import "./component/block/work.scss";
@import "./component/block/result.scss";
@import "./component/block/social.scss";
@import "./component/block/htmlacademy.scss";
@import "./component/block/formnamecat.scss";
@import "./component/block/formconact.scss";
@import "./component/block/formcoment.scss";
@import "./component/block/formadd.scss";
@import "./component/block/product.scss";
@import "./component/block/add-product.scss";
@import "./component/block/present-case.scss";
@import "./component/block/humburger.scss";

.page-body {
  padding: 0;
  margin: 0;
  min-width: 320px;
}

ul {
  padding: 0;
}

.hidden-text {
  display: none;
}
