// Начните писать стили здесь
$black: #000000;
$white: #ffffff;
$basic_green: #68b738;
$gray: #f2f2f2;
$basic_grey: #e7e7e7;
$basic_grey-1: #d9d9d9;
$basic_grey-2: #ebebeb;
$special_grey: #cdcdcd;
$special_grey-2: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$status_error: #ff8282;
$basic_green-2: #5eaa2f;
