.additional-goods__title {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 36px;
}

.add-product__card {
  border-top: 1px solid $special-grey;
  padding-top: 13px;
  padding-bottom: 19px;
  width: 100%;

  &:last-child {
    border-bottom: 1px solid $special-grey;
  }
}

.add-product__name {
  margin-bottom: 13px;
}

.add-product__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.add-product__description {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;

  font-family: $descr-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;
}

.add-product__button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  text-align: center;
  background: $basic-green;

  font-family: $header-link;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;

  color: $white;
}

@media (min-width: 768px) {
  .add-product__name-price {
    display: flex;
    justify-content: space-between;
  }

  .add-product__price-text {
    margin-left: 50px;
  }
}

@media (min-width: 1440px) {
  .add-product {
    grid-column: span 3;
  }

  .add-product__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .add-product__name-price {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .add-product__name {
    margin-bottom: 0;
  }

  .add-product__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $special-dark-grey-2;
  }

  .add-product__description {
    margin-bottom: 0;
    font-size: 16px;
  }

  .add-product__button {
    display: block;
    box-sizing: border-box;
    width: 244px;
    height: 40px;
    margin-left: 38px;
  }
}
