.additional-goods {
  margin-bottom: 35px;
}

.additional-goods__title-text {
  margin: 0;
  position: relative;
  font-family: $main-font;
  background: $white;
  padding-right: 10px;
  font-size: 24px;
  line-height: 24px;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    right: -20px;
    top: 50%;
    background: $basic-green;
  }
}

@media (min-width: 768px) {
  .additional-goods {
    margin-bottom: 85px;
  }

  .additional-goods__title-text {
    padding-left: 47px;
    font-size: 36px;
  }
}

@media (min-width: 1440px) {
  .additional-goods {
    margin-bottom: 86px;
  }

  .additional-goods__title-text {
    padding-left: 0;
    font-family: $main-font;
    background: none;
    padding-right: 10px;
    line-height: 24px;
    color: $black;

    span {
      background: $white;
      padding-left: 10px;
      padding-right: 35px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: calc((100vw - 1228px) / 2 * -1);
      width: calc(100vw - 20px);
      height: 2px;
      margin-top: 2px;
      background: #68b738;
      z-index: -1;
    }
  }
}
