.form__name-cat {
  margin-bottom: 20px;
  border-bottom: 1px solid $basic-grey-1;
}

.form__informationin {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
  border-bottom: 0;
}

.form__label-name {
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: center;
  margin-bottom: 13px;
}

.form__block-text {
  display: block;
  margin-right: 15px;
}

.form__text {
  font-family: $header-link;
  font-size: 16px;
  color: $special-dark-grey;
}

.form__input-text {
  padding: 3px 15px;
  border-radius: 0;
  border: 1px solid $basic-grey-4;
  height: 85%;
  width: 100%;

  &:hover {
    border: 1px solid $special-grey;
  }

  &:focus {
    outline: none;
    box-sizing: 0;
    border: 2px solid $black;
  }

  &:invalid {
    border: 2px solid $status_error;
  }
}

.form__radio {
  padding-top: 22px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $basic-grey-1;
}

.form__custom-radio-block {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form__custom-radio-input {
  position: relative;
  z-index: -1;
  opacity: 0;
}

.form__custom-radio {
  padding: 0 0 0 60px;
  position: relative;
  cursor: pointer;

  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.form__custom-radio::before {
  content: "";
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  margin: -3px 20px;
  margin-left: 0;
  padding: 11px;
  border-radius: 50%;
  background: none;
  border: 1px solid $basic-grey-2;
}

.form__custom-radio::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background: $basic-green-2;
  top: 8px;
  left: 11px;
  opacity: 0;
}

.form__custom-radio-input:checked + .form__custom-radio::after {
  opacity: 1;
}

.form__custom-radio-input:focus + .form__custom-radio {
  border: 2px solid $black;
}

@media (min-width: 1440px) {
  .form__name-cat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    border: 0;
  }

  .form__informationin {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .form__label-name {
    height: 52px;
    margin-bottom: 20px;
  }

  .form__radio {
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 28px;
    display: flex;
    flex-direction: column;
    border-top: none;
    height: 196px;
    border: 1px solid $basic-grey-1;
  }
}
