.form__name-cat {
  margin-bottom: 26px;
  border-bottom: 1px solid $basic-grey-1;
}

.form__informationin {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  border-bottom: 0;
}

.form__label-name {
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: center;
  margin-bottom: 13px;
}

.form__block-text {
  display: block;
  margin-right: 15px;
}

.form__text {
  text-transform: uppercase;
  font-family: $header-link;
  font-size: 16px;
  color: $special-dark-grey;
}

.form__input-text {
  font-family: $main-font;
  text-transform: uppercase;
  padding: 3px 15px;
  border-radius: 0;
  font-size: 16px;
  border: 1px solid $basic-grey-4;
  height: 85%;
  width: 100%;

  &:hover {
    border: 1px solid $special-grey;
  }

  &:focus {
    outline: none;
    box-sizing: 0;
    border: 2px solid $black;
  }

  &:invalid {
    border: 2px solid $status_error;
  }
}

.form__radio {
  padding-top: 22px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $basic-grey-1;
}

.form__custom-radio-block {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.form__custom-radio-input {
  appearance: none;
  position: absolute;
  left: -200px;
  z-index: -1;
  opacity: 0;
}

.form__custom-radio {
  padding: 0 0 0 60px;
  position: relative;
  cursor: pointer;

  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.form__custom-radio::before {
  content: "";
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  margin: -3px 20px;
  margin-right: 10px;
  margin-left: 0;
  padding: 11px;
  border-radius: 50%;
  background: none;
  border: 1px solid $basic-grey-2;
}

.form__custom-radio::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 10px;
  background: $basic-green-2;
  top: 6px;
  left: 9px;
  opacity: 0;
}

.form__custom-radio-input:checked + .form__custom-radio::after {
  opacity: 1;
}

.form__custom-radio-input:focus + .form__custom-radio::before {
  border: 2px solid $black;
}

@media (min-width: 768px) {
  .form__name-cat {
    border: 0;
    margin-bottom: 81px;
  }

  .form__informationin {
    padding-bottom: 52px;
  }

  .form__label-name {
    margin-bottom: 27px;
  }

  .form__text {
    font-size: 20px;
  }

  .form__custom-radio-block {
    margin-bottom: 23px;
  }

  .form__radio {
    border-top: 0;
    border: 1px solid $basic-grey-4;
    box-sizing: border-box;
    padding-left: 28px;
    padding-top: 25px;
    padding-bottom: 7px;
  }

  .form__input-text {
    font-size: 20px;
    padding: 3px 18px;
  }

  .form__custom-radio {
    font-size: 20px;
  }

  .form__custom-radio::before {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    margin: -3px 20px;
    margin-right: 16px;
    margin-left: 0;
    padding: 11px;
    border-radius: 50%;
    background: none;
    border: 1px solid $basic-grey-2;
  }

  .form__custom-radio::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background: $basic-green-2;
    top: 8px;
    left: 11px;
    opacity: 0;
  }
}

@media (min-width: 1440px) {
  .form__name-cat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    border: 0;
    margin-bottom: 56px;
  }

  .form__informationin {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .form__label-name {
    margin-bottom: 18px;
    height: 52px;
  }

  .form__block-text {
    display: block;
    margin-right: 15px;
    margin-left: 12px;
  }

  .form__text {
    font-size: 20px;
  }

  .form__radio {
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 28px;
    display: flex;
    flex-direction: column;
    border-top: none;
    height: 196px;
    border: 1px solid $basic-grey-1;
  }
}
