.menu {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: none;
  list-style: none;
  position: absolute;
  top: 26px;
  left: -20px;
  padding: 0 20px;
  width: 100%;
  background: rgb(255, 255, 255);
  text-align: center;
}

.menu__item {
  border-top: 1px solid $basic-grey-1;

  &:last-child {
    border-bottom: 1px solid $basic-grey-1;
  }
}

.menu__link {
  display: inline-block;
  width: 100%;
  padding: 23px 0;
  text-decoration: none;
  font-family: $header-link;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
}

@media (min-width: 768px) {
  .logo-text {
    margin-right: auto;
    margin-left: 12px;
  }

  .logo-link {
    margin-right: 12px;
  }

  .menu__list {
    margin: 0;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    padding: 0;
    padding-right: 9px;
  }

  .menu__item {
    margin-left: 28px;
    border: 0;

    &:last-child {
      border: 0;
    }
  }

  .menu__link {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: $header-link;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: $black;

    &:hover {
      opacity: 0.6;
    }
  }

  .menu__link--current {
    border-bottom: 2px solid $basic-green;
  }
}

@media (min-width: 1440px) {
  .logo-text {
    margin-left: 14px;
  }

  .menu__list {
    margin: 0;
    display: flex;
    position: relative;
    background: transparent;
    top: 0;
    left: 0;
  }

  .menu__link {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: $header-link;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: $black;
  }

  .menu__link-main {
    color: $white;
  }

  .menu__link--current {
    border-bottom: 2px solid $basic-green;
  }

  .menu__link--main-link {
    border-bottom: 2px solid $white;
  }
}
