.product {
  border-top: 1px solid $basic-grey-2;
  padding: 20px 0;
  margin-bottom: 25px;

  &:last-child {
    border-bottom: 1px solid $basic-grey-2;
  }
}

.product__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.product__up {
  width: 50%;
}

.product__image {
  display: block;
  margin: 0 auto;
}

.product__information {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.product__name-production {
  width: 100px;
  margin-bottom: 18px;
}

.product__title-production {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.product__table {
  width: 100%;
}

.product__table-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product__title-table {
  font-family: $descr-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $special-dark-grey;
}

.product__meaning-table {
  font-family: $descr-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $special-dark-grey;
}

.product__down {
  text-align: center;
}

.product__link {
  padding: 10px 0;
  display: inline-block;
  color: $white;
  width: 100%;
  text-decoration: none;
  background: $basic-green;
}

.product__block-plus {
  flex-direction: column;
  text-align: center;
}

.product__plus-icon {
  margin-bottom: 24px;
}

.product__block-descr {
  margin-bottom: 21px;
}

.product__block-title {
  margin-bottom: 8px;
  font-family: $header-link;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.product__block-text {
  font-family: $descr-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}

.product__link-plus {
  text-decoration: none;
  padding: 10px 0;
  display: inline-block;
  background: $gray;
  width: 100%;

  font-family: $header-link;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey;
}

@media (min-width: 768px) {
  .product {
    box-sizing: border-box;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 39px;
    margin-bottom: 60px;
    background: linear-gradient(
      to bottom,
      $white 0%,
      $white 19%,
      $gray 19%,
      $gray 100%
    );
    border-top: 0;
    width: 324px;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .product__block {
    display: flex;
    flex-direction: column;
  }

  .product__information {
    width: 100%;
  }

  .product__name-production {
    width: 154px;
    margin: 0 auto;
  }

  .product__title-production {
    font-size: 20px;
    text-align: center;
  }

  .product__information-production {
    margin-bottom: 33px;
  }

  .product__table-list {
    padding-top: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid $special-grey;
  }

  .product__meaning-table,
  .product__title-table {
    font-family: $descr-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: $special-dark-grey;
  }
}

@media (min-width: 1440px) {
  .product {
    box-sizing: border-box;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 39px;
    margin-bottom: 60px;
    background: linear-gradient(
      to bottom,
      $white 0%,
      $white 19%,
      $gray 19%,
      $gray 100%
    );
    border-top: 0;
    width: 245px;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
