.product {
  border-top: 1px solid $basic-grey-2;
  padding-top: 16px;
  margin-bottom: 24px;

  &:last-child {
    display: block;
    border-bottom: 1px solid $basic-grey-2;
    padding-bottom: 0;
  }
}

.product__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.product__up {
  width: 50%;
  height: 112px;
}

.product__image-product {
  margin-top: 3px;
}

.product__image {
  display: block;
  margin: auto;
}

.product__information {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.product__name-production {
  width: 100px;
  margin-bottom: 11px;
}

.product__title-production {
  margin: 0;
  margin-top: 0;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.product__table {
  width: 100%;
  border-spacing: 0;
}

.product__table-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
}

.product__title-table {
  border-spacing: 0;
  font-family: $descr-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $special-dark-grey;
}

.product__meaning-table {
  font-family: $descr-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $special-dark-grey;
}

.product__down {
  text-align: center;
}

.product__link {
  padding: 10px 0;
  display: inline-block;
  color: $white;
  width: 100%;
  text-decoration: none;
  background: $basic-green;

  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product__block-descr {
  margin-bottom: -8px;
}

.product__block-title {
  margin-bottom: -5px;
  font-family: $header-link;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.product__block-text {
  font-family: $descr-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}

@media (min-width: 768px) {
  .product {
    box-sizing: border-box;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 39px;
    margin-bottom: 49px;
    background: linear-gradient(
      to bottom,
      $white 0%,
      $white 19%,
      $gray 19%,
      $gray 100%
    );
    border-top: 0;
    width: 324px;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .product-down {
    padding-top: 40px;
  }

  .product__block-descr {
    margin-bottom: auto;
  }

  .product__block-title--add {
    font-size: 20px;
    line-height: 22px;
    width: 140px;
    margin: 0 auto;
    margin-bottom: 23px;
  }

  .product__block-text {
    width: 184px;
    line-height: 18px;
    margin: 0 auto;
    font-size: 16px;
  }

  .product__block {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .product__up {
    width: 100%;
    height: auto;
    margin-bottom: 35px;
  }

  .product__image-product {
    margin-top: 7px;
  }

  .product__information {
    width: 100%;
    margin-bottom: 14px;
  }

  .product__name-production {
    width: 154px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .product__title-production {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
  }

  .product__information-production {
    margin-bottom: 0;
  }

  .product__table-list {
    padding-top: 4px;
    padding-bottom: 10px;
    border-bottom: 1px solid $special-grey;
  }

  .product__meaning-table,
  .product__title-table {
    font-family: $descr-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: $special-dark-grey;
  }
}

@media (min-width: 1440px) {
  .product {
    box-sizing: border-box;
    padding-left: 38px;
    padding-right: 34px;
    padding-bottom: 39px;
    margin-bottom: 44px;
    background: linear-gradient(
      to bottom,
      $white 0%,
      $white 19%,
      $gray 19%,
      $gray 100%
    );
    border-top: 0;
    width: 245px;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .product__block {
    margin-bottom: 32px;
  }

  .product__up {
    margin-bottom: 42px;
  }

  .product__information {
    margin-bottom: 0;
  }

  .product__name-production {
    margin-bottom: 13px;
  }

  .product__table-list {
    padding-top: 8px;
    padding-bottom: 6px;
    border-bottom: 1px solid $special-grey;
  }

  .product__meaning-table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .product__block-title--add {
    font-size: 20px;
    line-height: 22px;
    width: 140px;
    margin: 0 auto;
    margin-left: 4px;
    margin-bottom: 23px;
  }

  .product__block-text {
    width: 184px;
    line-height: 18px;
    margin: 0 auto;
    font-size: 16px;
    margin-left: -22px;
  }
}
