.product-btn {
  width: 100%;
  border: 0;
  background: transparent;
  margin-bottom: 33px;
}

.product-btn__link-plus {
  text-decoration: none;
  padding: 10px 0;
  display: inline-block;
  background: $gray;
  width: 100%;

  font-family: $header-link;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin-bottom: 0;

  &:hover {
    background: $basic-grey-2;
  }
}

.product-btn__block-plus {
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
}

.product-btn__plus-icon {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .product__link-plus {
    margin-block-end: 0;
    margin-block-start: 0;
    text-decoration: none;
    padding: 10px 0;
    display: inline-block;
    background: $gray;
    width: 100%;

    font-family: $header-link;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $special-dark-grey;
    margin-bottom: 52px;
  }

  .product-btn__block-plus {
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 73%;
    padding-top: 130px;
    padding-bottom: 12px;
  }

  .product-btn__plus-icon {
    margin-bottom: 47px;
  }
}

@media (min-width: 1440px) {
  .product-btn {
    width: auto;
    box-sizing: border-box;
    padding: 0 38px;
  }

  .product-btn__link-plus {
    text-decoration: none;
    margin-bottom: 29px;
    padding: 10px 0;
    display: inline-block;
    background: $gray;
    width: 89%;

    font-family: $header-link;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $special-dark-grey;
    margin-left: -23px;

    &:hover {
      background: $basic-grey-2;
    }
  }

  .product-btn__block-plus {
    height: 68%;
    margin-bottom: 23px;
    padding-top: 152px;
    padding-bottom: 5px;
  }

  .product-btn__plus-icon {
    margin-bottom: 46px;
    margin-right: 26px;
  }
}
