.social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
}

.social__item {
  svg {
    fill: none;
  }

  &:hover {
    stroke: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link {
  display: inline-block;
  padding: 18px;

  .social__vk {
    width: 23px;
    height: 16px;

    @media (min-width: 768px) {
      width: 30px;
      height: 26px;
    }
  }

  .social__insta {
    width: 16px;
    height: 16px;

    @media (min-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }

  .social__book {
    width: 22px;
    height: 22px;

    @media (min-width: 768px) {
      width: 30px;
      height: 30px;
    }
  }
}

@media (min-width: 768px) {
  .social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .social__link {
    display: inline-block;
    padding: 13px;
    padding-top: 2px;
  }

  .book {
    position: relative;
    right: 9px;
  }
}

@media (min-width: 1440px) {
  .social__link {
    display: inline-block;
    padding: 12px;
    padding-top: 2px;
  }
}
