.work {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.work__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.work__icon-block {
  position: relative;
  min-width: 60px;
  height: 60px;
  margin-right: 20px;
  background: $basic-green;
}

.work__image-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work__text {
  font-family: $descr-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0;
}

@media (min-width: 768px) {
  .work {
    padding-left: 3px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .work__item {
    position: relative;
    display: block;
    justify-content: space-between;
    width: 47%;
    padding-top: 20px;
    margin-bottom: 113px;
  }

  .work__item:nth-child(1) {
    &::before {
      content: "1";
      position: absolute;
      left: 38%;
      top: -86px;
      font-size: 280px;
      font-family: $main-font;
      color: $gray;
      padding: 0;
      margin: 0;
      z-index: -1;
    }
  }

  .work__item:nth-child(2) {
    &::before {
      content: "2";
      position: absolute;
      left: 35%;
      top: -86px;
      font-size: 280px;
      font-family: $main-font;
      color: $gray;
      padding: 0;
      margin: 0;
      z-index: -1;
    }
  }

  .work__item:nth-child(3) {
    &::before {
      content: "3";
      position: absolute;
      left: 36%;
      top: -86px;
      font-size: 280px;
      font-family: $main-font;
      color: $gray;
      padding: 0;
      margin: 0;
      z-index: -1;
    }
  }

  .work__item:nth-child(4) {
    &::before {
      content: "4";
      position: absolute;
      left: 36%;
      top: -86px;
      font-size: 280px;
      font-family: $main-font;
      color: $gray;
      padding: 0;
      margin: 0;
      z-index: -1;
    }
  }

  .work__icon-block {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    background: $basic-green;
    margin-bottom: 31px;
    margin-left: 7px;
  }

  .work__text {
    width: 72%;
    margin-left: 7px;
    font-size: 16px;
    line-height: 24px;

    &:nth-child(4) {
      width: 100px;
    }
  }
}

@media (min-width: 1440px) {
  .work {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 60px;
  }

  .work__item {
    position: relative;
    display: block;
    justify-content: space-between;
    width: 250px;
    padding-top: 20px;
    margin-bottom: 77px;
  }

  .work__item:nth-child(1) {
    &::before {
      content: "1";
      position: absolute;
      left: 50%;
      top: -86px;
      font-size: 280px;
      font-family: $main-font;
      color: $gray;
      padding: 0;
      margin: 0;
      z-index: -1;
    }
  }

  .work__item:nth-child(2) {
    &::before {
      content: "2";
      position: absolute;
      left: 50%;
      top: -86px;
      font-size: 280px;
      font-family: $main-font;
      color: $gray;
      padding: 0;
      margin: 0;
      z-index: -1;
    }
  }

  .work__item:nth-child(3) {
    &::before {
      content: "3";
      position: absolute;
      left: 50%;
      top: -86px;
      font-size: 280px;
      font-family: $main-font;
      color: $gray;
      padding: 0;
      margin: 0;
      z-index: -1;
    }
  }

  .work__item:nth-child(4) {
    &::before {
      content: "4";
      position: absolute;
      left: 50%;
      top: -86px;
      font-size: 280px;
      font-family: $main-font;
      color: $gray;
      padding: 0;
      margin: 0;
      z-index: -1;
    }
  }

  .work__icon-block {
    margin-left: 12px;
  }

  .work__text {
    width: 100%;
  }
}
